<carousel>
    <slide>
        <img src="assets/images/hero1.jpg" alt="Hero1 Slide" style="display: block; width: 100%">
    </slide>
    <slide>
        <img src="assets/images/hero2.jpg" alt="Hero2 Slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero3.jpg" alt="Hero 3 Slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the SportiHub!</h1>
    </div>
</section>
